# -------------GENERAL-------------

# System files
# ------------
Icon
.DS_Store

# Lock files
# ---------------
.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# Kirby
# (core file, automatically installed with composer or generated)
# --------------------------------------------------
/public/media
/vendor
/node_modules

# Development
# --------------------------------------------------
.env
/.phpunit.cache
.phpunit.result.cache
.php_errors.log
npm-debug.log
yarn-error.log
hot

# Storage
# (cache,accounts, plugins, sessions)
# ---------------
/storage/*
!/storage/content/

