# -------------GENERAL-------------

# System files
# ------------

Icon
.DS_Store

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# Kirby
# (core file, automatically installed with composer)
# --------------------------------------------------
/app/core/*
/vendor
/node_modules

# Development
# --------------------------------------------------
.env
/.phpunit.cache
.phpunit.result.cache
.php_errors.log
npm-debug.log
yarn-error.log

# Storage
# ---------------
/storage/*
!/storage/content/

