parameters:
  paths:
    - app/models/
    - config/
    - lang/
    - src/
    # - tests/

  level: 6
#     excludePaths:
#         - vendor/
#  ignoreErrors:
#    - "#Anonymous function with return type void returns void but should not return anything#"
#
#    checkMissingIterableValueType: false
