@tailwind base;

body {
  color: red;
}

@layer base {
  /** Styles de base */
  html {
    @apply text-zinc-100 bg-zinc-950;
  }
  /** Variables */
  :root {
    --color-primary: 239 205 95;
    --color-secondary: 252 226 144;
    --color-tertiary: 253 241 211;
  }

  .theme__green {
    --color-primary: 34 197 94;
    --color-secondary: 74 222 128;
    --color-tertiary: 134 239 172;
  }

  .theme__musician {
    --color-primary: 239 68 68;
    --color-secondary: 248 113 113;
    --color-tertiary: 252 165 165;
  }
}

@tailwind components;

@layer components {
  /** KirbyText */

  .bh__kirbytext {
    @apply flex flex-col gap-4;
  }
  .bh__kirbytext h2 {
    @apply text-3xl font-bold;
  }
  .bh__kirbytext ul {
    @apply ml-4 list-disc;
  }
  /** Liens */
  @import "buttons";
}

@tailwind utilities;
