@import "tailwindcss";

@source "../views/**/*.php";
@source "../../app/**/*.php";
@source "../../storage/content/**/*.txt";

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --breakpoint-xs: 36rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-xmd: 56rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-xxl: 90rem;
  --breakpoint-2xl: 96rem;

  --font-sans:
    "Hanken Grotesk", "Helvetica", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant hocus (&:hover, &:focus);
@custom-variant group-hocus (.group:hover &, .group:focus &);

@import "./modules/highlight.css";
@import "./modules/kirbytext.css";
@import "./modules/card-detail.css";

@layer base {
  html {
    @apply text-neutral-50 bg-neutral-950;
    background-image: url("../../public/images/benjaminhaeberli_banner.avif");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: -125px;
  }
}
