@import "./modules/highlight.css";
@import "./modules/kirbytext.css";

@tailwind base;

@layer base {
  html {
    @apply text-slate-50 bg-slate-950;
    /*
    Works but do not provide intellisense
    background-image: url("@/images/benjaminhaeberli_banner.avif");
    */
    background-image: url("../../public/images/benjaminhaeberli_banner.avif");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

@tailwind components;

@tailwind utilities;

/**
 * Google Translate (temporary
 */
.goog-te-gadget {
  display: flex;
  justify-content: center;
  font-size: 0px !important;
}
.goog-te-gadget span {
  display: none;
}
#temporary_translator {
  @apply bg-gray-200;
  margin: auto;
  width: 158px;
  min-height: 24px;
}
