.bh__svg-up {
  @apply flex items-center p-2 -ml-3 border-2 text-slate-400 hover:text-slate-100 bg-slate-950 border-slate-800 hover:bg-slate-900;
  @apply before:w-5 before:h-5 before:inline-block before:bg-slate-400 hover:before:bg-slate-100 before:transition-all;
}
.bh__svg-up::before {
  mask: url("/assets/svg/heroicon_arrow-long-up.svg");
  mask-size: cover;
  content: "";
}
